@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  font-family: "Lato", sans-serif;
  padding: 25px 35px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: #133f5d;
}

td {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: 0;
  border: 1px solid rgb(236, 239, 241);
}

b {
  font-weight: bold;
}

#header-logo {
  width: 150px;
}

#buyer-seller {
  width: 100%;
  line-height: 30px;
}

#amount-container {
  margin: 20px 0;
}

#amount {
  font-size: 27pt;
  color: #4195d5;
  margin: 10px 0;
}

#table-information {
  padding: 0 35px;
}

.bold {
  font-style: normal;
  font-weight: 700;
}

.dimmed {
  color: #4c6e84;
}

.blue {
  color: #4195d5;
}

.draw {
  background-color: #ffffff;
}

.light-blue {
  color: #859cab;
}

.ta-r {
  text-align: right;
}

.ta-l {
  text-align: left;
}

.indent {
  margin: 5px 28px;
}

.line-height {
  line-height: 20px;
}
